* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Flip Card */
.flip-card {
    position: absolute;
    width: 450px;
    perspective: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1.7s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);
  }

  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .link-instagram {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .link-instagram:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .link-github {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .link-github:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .App-Logo {
    width: 370px;
  }
